@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
.hero{
    height: 60vh;
    background-image: url(./asset/hero.png);
}
.cover{
    background-color: rgba(0, 0, 0, 0.4);
}
.hr{
   stroke-width: 3px;
}
