@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body{
  font-family: 'Nunito', sans-serif;
}
/* Hero */
.hero{
  
  width: 100%;
  height: 400px;
  left: 0px;
  top: 96px;
  background: url(./asset/hero.png);
}
.hero .cover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.hero-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.text-top{
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  color: white;
 
}
.text-find{
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: center;
  color: white;
  margin-top: 16px;
}
.text-find span{
  color: rgb(243, 207, 0);
}
.hero-search{
  margin-top: 60px;
}
.search-card{
  width: 846px;
  height: 66px;
  top: 245px;
  background: #FFFFFF;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;

}
.search-button{
  background: #E53935;
  border: 1px solid #B71C1C;
  box-sizing: border-box;
  border-radius: 2px;
  width: 146px;
  height: 42px;
  margin: 12px;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFFFFF;

}
.drop-down{
  width: 175px;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 12px;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;

}
.selector{
  width: 290px;
  height: 42px;
  background: #F9F9F9;
  border: 1px solid #F5F5F5;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 12px;
  font-family: Nunito;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0px;
  text-align: left;
  border: none;
  outline: none;
}

/* Hero close  */
/* ----------------------------------------------------------------------- */
/* premium-projects */
.premium-projects{
  margin-top: 73px;
  
}
.home-card{
  border-radius: 12px;
  border: none;
  width:412px;
  margin-top: 24px;
}
.home-card:hover{
  box-shadow: 0px 0px 8px rgba(58, 57, 57, 0.24);
}
.card-title{
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 24px;
}
.card-text{
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top: 24px;

}
.card-text-second{
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.5px;
  text-align: left;
  margin-top: 8px;

}
.card-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.card-price{
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;

}
.card-button{
  height: 38px;
  width: 118px;
  border-radius: 2px;
  padding: 12px, 20px, 12px, 20px;
  background: #FCE7E7;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color: #E53935;
}
.card-button:hover{
  background-color: #E53935;
  color: white;
}
.sale-label{
  position:absolute;
  height: 30px;
  width: 66px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDF4EF;
  border-radius: 0px 0px 8px 8px;
  padding: 8px, 16px, 8px, 16px;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #E57B35;
  cursor: pointer;
}
.premium-label{
  position:absolute;
  height: 30px;
  width: 30px;
  right: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #EB9F24;
  border-radius: 0px 0px 8px 8px;
  padding: 8px, 16px, 8px, 16px;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
  cursor: pointer;
}
.heart-label{
  position:absolute;
  height: 28px;
  width: 28px;
  right: 32px;
  top: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 14px;
  padding: 8px, 16px, 8px, 16px;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  color: #BCBCBC;
  cursor: pointer;
}
.project-heading{
  margin-top: 73px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-heading h3{
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.5px;
  text-align: center;

}
.project-heading .hr{
  width: 80px;
  height: 6px;
  border-radius: 10px;
  margin-top: 10px;
  background-image: linear-gradient(to right, rgb(77, 83, 77) 50%,red 50%);
}
.project-heading p{
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 35px;
  color: #626262;
}
.load-more{
  height: 42px;
  width: 116px;
  border-radius: 2px;
  padding: 14px, 24px, 14px, 24px;
  background: #FEF5E5;
  border: 1px solid #EB9F24;
  box-sizing: border-box;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  color: #EB9F24;
  margin-top:48px;
}
/* premium-projects */
/* -------------------------------------------------------------------------- */
/* Filter */
.filter{
  width: 100%;
  height: 418px;
  background: #F8F8F8;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.filter-heading{
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;  
}
.filter-desc{
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 20px;
}
.filter-head{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
.filter-head span{
  height: 40px;
  width: 121px;
  border-radius: 0px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.5px;
  text-align: center;
  border-bottom: 2px solid rgb(19, 18, 18);
  cursor: pointer;
}
.filter-head .active{
  background-color: #FEF5E5;
  color: #EB9F24;
  border-bottom: 2px solid #EB9F24;
}
.filter .filter-result{
  background-color: #ffffff;
  min-height: 80px;
}
.filter .result-box{
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  text-align: left;
  margin: 10px;
  padding: 10px;

}
/* Filter close  */
/* ---------------------------------------------------------------- */
/* footer */
.footer{
  background-color: #0D1B1E;
  /* height: 639px; */
  color: #ffffff;
}
.footer .newsletter{
  padding-top: 73px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-head{
  font-family: Nunito;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}
.news-desc{
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.5px;
  text-align: center;
  margin-top: 24px;

}
.newsletter-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.email-input{
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  margin-bottom: 32px;
  border-bottom: 1px solid #D3D3D3;
  width: 410px;
}
.submit-btn{
  width: 145px;
  background: linear-gradient(265.6deg, #ECA539 -0.34%, #CE3D37 99.66%), #FCE7E7;
  border-radius: 2px;
  height: 42px;
  border: none;
  outline: none;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
}
.hr{
  width: 1280px;
  height: 1px;
  background-color: #ffffff;
  margin-top: 36px;
}
.letstalk{
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.5px;
  text-align: left; 
 
}
.footer-bottom{
  margin-top: 48px; 
}
.contact{
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 28px;
}
.address{
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-align: left;
}
.bullet-parent{
  line-height: 180%;
}
.bullet-links{
  font-family: Nunito;
  font-size: 15px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.5px;
  text-align: left;
  list-style: none;
  cursor: pointer;
}
.bullet-links:hover{
  list-style-type: disc;
  color: #F9A825;
}
.social{
  margin-left: 80px;
}
.social i{
  padding-right: 10px;
}
.copyright{
  text-align: right;
}
/* footer close */

.input-body {
  min-width: 290px;
  height: 40px;
  border-radius: 3px;
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 12px;
  display: flex;
}

.input {
  width: auto;
  height: 100%;
  background: none;
  color: #000;
  caret-color: #000;
  outline: none;
  border: none;
  margin-left: 6px;
}

/* chip */

.chip {
  padding: 2px 5px 2px 5px;
  margin-right: 7px;
  font-size: 12px;
  border-radius: 1px;
  background-color: #FCE7E7;
  width: 55px;
}

.ri-close-line {
  margin-left: 1.5px;
  cursor: pointer;
}
.between {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

/* ------------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------
-----------------------------------------------------------------
---------------------------------------------------------------
---------------------------------------------------------
---------------------------------------------------------------
--------------------------------------------------------------------- */

/* Responsive */

@media only screen and (max-width: 480px) {
  .search-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .hr{
    width: 100%;
  }
  .hero{
    height: 100vh;
  }
  .drop-down{
    width: 90%;
  }
  .search-button{
    width: 90%;
  }
  .card-img-top{
    width: 100%;
  }
  .home-card{
    width: 100%;
  }
  .filter{
    
    height: auto;
  
  }
  .email-input{
    width: 300px;
  }
  .footer{
    width: 100%;
    overflow-x: hidden;
  }
  .social, .copyright{
    margin: 0;
    text-align: center;
  }

}